<h1>usvad sierra</h1>

<h2>{{ .hostname }} {{ .id }}</h2>

<iframe src="/app/candidates" width="25%" height="33%"></iframe>
<iframe src="/app/peers" width="25%" height="33%"></iframe>

<iframe src="about:blank" name="main" width="25%" height="33%"></iframe>


<pre>
  docker run -p 80:8080 mattipaksula/usvad-sierra
</pre>
