<h2>peer</h2>

<div id="id"></div>
<div id="address"></div>
<script>
  let update = () => {
    fetch("/peer/{{ .id }}")
      .then(setTimeout(update, 3000))
      .then(response => response.json())
      .then(data => {
        id.textContent = data.id
        let a = document.createElement("a")
        a.href = "http://"+data.address
        a.textContent = "http://"+data.address
        a.target = "_blank"
        address.innerHTML = ''
        address.appendChild(a)
      })
  }

  update()
</script>